# This is a config file for Iridium build scripts.
# Please do not use quotes trailing/leading spaces and spaces between '=' sign.

# You could check your signing identities with `security find-identity`


# Apple developer team ID.
#TEAM_ID=

# Mac App Store signing identity
#MAS_SIGNING_IDENTITY=

# Mac App Store package signing identity
#MAS_PACKAGE_IDENTITY=

# Identified Apple Developer signing identity
#IAD_SIGNING_IDENTITY=

# Signing identity company name. Should be the same as appears when printing information about corresponding signing identity.
#SIGNING_IDENTITY_COMPANY_NAME=

# Application version. In case of Iridium this is x.x.x.x. Should correspond to the one in the patch!
BUNDLE_VERSION=46.0.0.0
